option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: 'production'
    PORT: '8080'
    AWS_REGION: 'us-east-1'
    AWS_SSM_PATH: '/careerpilot/'

  aws:elasticbeanstalk:environment:
    EnvironmentType: 'LoadBalanced'
    LoadBalancerType: 'application'

  aws:autoscaling:launchconfiguration:
    InstanceType: 't3.small'
    IamInstanceProfile: 'aws-elasticbeanstalk-ec2-role'
    SecurityGroups: 'careerpilot-web-sg'

  aws:autoscaling:asg:
    MinSize: '2'
    MaxSize: '6'
    Availability Zones: 'us-east-1a, us-east-1b, us-east-1c'
